/* Main stylesheet for Secret Agent Supply, Inc., project for Codecademy
   Unit 5, days 6-9
   J. Stuart Harris
 */

/* General style code for the entire website - defaults
 */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
  margin: 0;
}


.bodycontainer {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
}

/* ***** Location section
 */
#location {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#location div {
  display: flex;
  justify-content: space-between;
}

#location div div {
  width: 35%;
  height: auto;
}
/* #location div div span */
.locdes {
  color: white;
  background-color: black;
  padding: 1rem auto 1rem 2rem;
}

.data {

}

/* ***** Footer section
 */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  /*border: 1px solid cyan;*/
}

footer div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  height: 5rem;
  border: 1px solid lightgreen;
}
