/* Main stylesheet for Secret Agent Supply, Inc., project for Codecademy
   Unit 5, days 6-9
   J. Stuart Harris
 */

/* General style code for the entire website - defaults
 */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: black;
  background-color: white;
  margin: 0;
}


.bodycontainer {
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
}

/* Top identity bar section
 #identitybar div div & scan
 */
#identitybar {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

#identitybar div {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  /*border: 1px solid green;*/
}

#identitybar div span {
  color: white;
  padding: .66rem 0 .66rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: .5rem;
}

.logo img{
  height: 1.5rem;
  /*border: 1px solid lightblue;*/
}

/* ***** Banner section
   #banner div div h2/h4
 */
#banner {
  display: flex;
  width: 100%;
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner div {
  display: flex;
}

#banner div div {
  display: flex;
  flex-flow: column nowrap;
  background-color: black;
  width: 24rem;
  height: 10rem;
  color: white;
  font-weight: bold;
  margin-top: 9rem;
}

#banner div div h3 {
  font-size: 1rem;
  color: inherit;
  font-weight: inherit;
  padding-top: 2rem;
  padding-left: 3rem;
}

#banner div div h1 {
  font-size: 2rem;
  color: inherit;
  font-weight: inherit;
  padding-top: .4rem;
  padding-left: 3rem;
}

/* ***** Menu bar section
   #menubar div nav
 */
#menubar {
  display: flex;
  width: 100%;
  background-color: firebrick;
}

#menubar div { /* the .bodycontainer div */
  display: flex;
}

#menubar div nav {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  /* border: 1px solid green; debug box */
}

#menubar div nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid purple; debug box */
  /*padding: .75rem 0;*/
}

#menubar div nav ul li{
  display: inline-block;
}

#menubar div span {
  display: inline-block;
}

.narrowscreen {
  padding: .75rem 0;
}

/* ***** Featured products section
 */
 #featured {
   display: flex;
   margin: 3rem 0;
   width: 100%;
   background-color: white;
 }

#featured div { /* Same div as class .bodycontainer */
  display: flex;
  justify-content: space-between;
}

#featured div div { /* same div as class .figure */
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-between;
  border: 4px solid black;
  width: 30%;
  height: 15rem;
}

#featured div div img { /* image inside divs */
   margin: 2rem auto auto auto;
   max-height: auto;
   max-width: 9rem; /* spec 9rem */
   vertical-align: middle;
   /* border: 1px solid purple; debug box */
 }

#featured div div div { /* div below image, figure caption (.fcaption class) */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: .5rem 0;
  color: white;
  text-align: center;
  background-color: black;
  /*border: 2px solid lightblue;*/
 }


#featured div div .shortimg {
  margin-top: 4.5rem;
}
/*
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    background: #3A6F9A;
    vertical-align: middle;
    max-height: auto;
    max-width: 9rem;
}*/

/* ***** Location section
 */
#location {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

#location div {
  display: flex;
  justify-content: space-between;
}

#location div div {
  display: flex;
  flex-flow: row wrap;
  width: 35%;
  margin: 3rem 0 4rem 0;

  /*border: 1px solid red;*/
}
/* #location div div span */
.locdes {
  color: white;
  width: 100%;
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.data {
  width: 100%;
  color: black;
}

/* ***** Footer section
 */
footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  /*border: 1px solid cyan;*/
}

footer div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  height: 6rem;
  /*border: 1px solid lightgreen;*/
}
/* ***** Changes in size and layout for different media sizes
 */
@media only screen and (min-width: 1025px) {
  /* wide: #menubar div nav; narrow: #menubar div span */
   body {
     color: cyan;
   }
   #menubar div span {
     display: none;
   }
}

@media only screen and (max-width: 1024px) {
  body {
    color: dodgerblue;
  }
  #menubar div {
    justify-content: center;
  }
  #menubar div nav {
    display: none;
  }
  #featured div div {
    width: 47%;
  }
  #location div div {
    width: 35%;
  }
  #featured div .thermal {
    display: none;
  }

  @media only screen and (max-width: 470px) {
    body {
      color: orange;
    }
    footer div {
      justify-content: center;
    }
    #banner div div {
      height: 4.3rem;
      width: 100%;
    }
    #banner div div h1 {
      font-size: 1rem;
    }
    #banner div div h3 {
      font-size: .77rem;
    }
  }
}
